/* No Select class */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* upheavtt.woff 100% FREE */
@font-face {
    font-family: upheavtt;
    src: url('https://zapsters.github.io/Home/fonts/upheavtt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.upheavttFont {
    font-family: 'upheavtt';
}

/* FREE */
@font-face {
    font-family: 'Bahnschrift';
    src: url('Bahnschrift.woff2') format('woff2'),
        url('Bahnschrift.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.BahnschriftFont {
    font-family: 'Bahnschrift';
}
